# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# MongoDB dump
dump/

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build output (if you add TypeScript later)
dist/
build/

# Coverage (if using Jest)
coverage/