.card-hover {
  transition: all 0.3s ease;
  cursor: pointer;
  background: #ffffff;
}


.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-color: #0096C7 !important;
}

